<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <table bgcolor="#9ED9F2" border="2" width="600">
        <tr align="center">
            <td><a href="/show_books">Список книг</a>&nbsp;&nbsp;
                <a href="/show_users">Пользователи</a>&nbsp;&nbsp;
                {% if g.user.is_authenticated %}
                    {% if g.user.status == 2 %}
                        <a href="/register">Добавить сотрудника</a>
                    {% endif %}
                    <a href="/logout">Выход (<i>{{ g.user.user_name }}</i>)</a>
                {% else %}
                     <a href="/login">Вход</a>
                {% endif %}
            </td>
        </tr>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <tr bgcolor="#FFFFFF">
                    <td>
                        <ul class="flashes">
                            {% for message in messages %}
                                <i>{{ message }}</i>
                            {% endfor %}
                        </ul>
                   </td>
                </tr>
            {% endif %}
        {% endwith %}

        <tr bgcolor="#FFFFFF">
            <td>
                {% block content %}
                {% endblock %}
            </td>
        </tr>
        <tr align="center">
            <td><i>Rtt Studio, 2016</i></td>
        </tr>
    </table>
</body>
</html>