<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
    <table bgcolor="#9ED9F2" border="2" width="600">
        <tr align="center">
            <td><a href="/show_books">Список книг</a>&nbsp;&nbsp;
                <a href="/show_users">Пользователи</a>&nbsp;&nbsp;
                <a href="/login">Вход</a>
            </td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td>
                {% block content %}
                {% endblock %}
            </td>
        </tr>
        <tr align="center">
            <td><i>Rtt Studio, 2016</i></td>
        </tr>
    </table>
</body>
</html>