<html>
<head>
    <title>Карточка: {{ user.name }} (ID: {{ user.user_id }})</title>
</head>

<body>
<h3>Имя: {{ user.name }}</h3>
<table border="1" >
    <tr><td>Паспорт:</td><td>{{ user.passport_id }}</td></tr>
    <tr><td>Адрес:</td><td>{{ user.address }}</td></tr>
    <tr><td>Телефон:</td><td>{{ user.phone }}</td></tr>
</table>
Выданные книги:
<form method="post">
    <table border="2">
        <tr>
            <td>ID</td><td>Название</td><td>Автор(ы)</td><td>Год издания</td>
            <td>Дата возврата</td><td>Возврат</td>
        </tr>
    {% for book in books %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year_of_publishing }}</td>
            <td bgcolor={{ book.warning_color }}>{{ book.date_of_return_human_format }}</td>
            <td>
                <input type="checkbox" name="return_book_id" value="{{ book.book_id }}" >
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td><input type="submit" value="Вернуть книгу"></td>
    </tr>

    </table>
</form>

</body>
</html>