{% extends "base.html" %}

{% block content %}

<table border="1" >
    <tr><td><b>Имя:</b></td><td><b>{{ user.name }}</b></td></tr>
    <tr><td>Паспорт:</td><td>{{ user.passport_id }}</td></tr>
    <tr><td>Адрес:</td><td>{{ user.address }}</td></tr>
    <tr><td>Телефон:</td><td>{{ user.phone }}</td></tr>
</table>
<br>

<form method="post">
    <table border="2" width="100%">
        <tr><td colspan="6"><b>Выданные книги:</b></td></tr>
        <tr>
            <td>ID</td><td>Название</td><td>Автор(ы)</td><td>Год издания</td>
            <td>Дата возврата</td><td>Возврат</td>
        </tr>
    {% for book in books %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.year_of_publishing }}</td>
            <td bgcolor={{ book.warning_color }}>{{ book.date_of_return_human_format }}</td>
            <td>
                <input type="checkbox" name="return_book_id" value="{{ book.book_id }}" >
            </td>
        </tr>
    {% endfor %}
    {% if books %}
        <tr>
            <td><input type="submit" value="Вернуть книгу"></td>
        </tr>
    {% endif %}
    </table>
</form>

<br>
<table border="1" width="90%">
    <tr><td><b>Информация</b></td></tr>
    {% for info in info_list %}
        <tr><td><i>{{ info }}</i></td></tr>
    {% endfor %}
</table>

<br>
Найти книгу в библиотеке:
<form method="post">
    <table border="1" width="100%">
        <tr>
            <td>Поиск по:</td>
            <td>
                <select name="search_by">
                    <option value="title">название книги</option>
                    <option value="author">автор книги</option>
                    <option value="year_of_publishing">год издания</option>
                    <option value="book_code">код книги</option>
                    <option value="group_code">код раздела</option>
                </select>
            </td>
            <td><input type="text" name="search_text"></td>
            <td><input type="submit" value="Искать!"></td>
        </tr>
    </table>
</form>
{% if suitable_books %}
<form method="post">
    <table border="2" bordercolor='blue' width="600">
    <tr>
        <td>ID</td><td>Название</td><td>Автор(ы)</td><td>Год издания</td>
        <td>Дата возврата</td><td>Действие</td>
    </tr>
    {% for book in suitable_books %}
    <tr>
        <td>{{ book.book_id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year_of_publishing }}</td>
        <td>{{ book.date_of_return_human_format }}</td>
        <td>
            {% if book.date_of_return_human_format == "Свободна" %}
                <input type="radio" name="hand_out_book_id" value = {{ book.book_id }}>
                <input type="submit" value="Выдать">
            {% else %}
                ---
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</form>
{% endif %}

{% endblock %}